@charset "UTF-8";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #222222;
  word-break: break-word;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}